@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root{
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --d_blue: hsl(249, 10%, 26%);
    --g_blue: hsl(246, 25%, 77%);

    --border-rad: .5em;

    --shadow: 0 .5em 0 rgba(0, 0, 0, .18);
}
html{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--red);
    background-image: url(images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}   
main{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.heading{
    color: white;
    text-align: center;
    margin-bottom: 2em;
}
.heading h1{
    font-weight: 700;
    margin-top: 3em;
}
.heading p{
    color: white;
    font-weight: 400;
    font-size: 1.2em;
}
.container{
    width: 100%;
    max-width: 34em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.signup{
    padding: 0 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.trial{
    letter-spacing: .5px;
    padding: 1.5em 3.2em;
    line-height: 1.5em;
    border: 0;
    border-radius: var(--border-rad);
    background-color: var(--blue);
    color: white;
    font-size: 1em;
    text-align: center;
    box-shadow: var(--shadow);
    font-weight: 400;
    cursor: pointer;
    font-size: .8em;
    margin-bottom: 1.5em;
    width: 100%;
}
form{
    background-color: white;
    border-radius: var(--border-rad);
    box-shadow: var(--shadow);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}
.form-input{
    min-height: 3.4em;
    width: 100%;
    position: relative;
}
.form-input::before{
    content: "";
    display: none;
    width: 1.5em;
    height: 1.5em;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Ccircle fill='%23FF7979' cx='12' cy='12' r='12'/%3E%3Crect fill='%23FFF' x='11' y='6' width='2' height='9' rx='1'/%3E%3Crect fill='%23FFF' x='11' y='17' width='2' height='2' rx='1'/%3E%3C/g%3E%3C/svg%3E");
    user-select: none;
    position: absolute;
    top: .6em;
    right: 1em;
}
.form-input::after{
    content: "First name cannot be empty";
    display: none;
    justify-content: flex-end;
    margin: .5em 0 1.3em 0;
    font-size: .5em;
    font-weight: 500;
    font-style: italic;
    color: var(--red);
}
input{
    width: calc(100% - 2.7em);
    color: var(--d_blue);
    padding: 1.3em;
    font-weight: 700;
    border-radius: var(--border-rad);
    border: 1px solid var(--g_blue);
    font-size: .7em;
}
input:focus{
    outline: none;
    border: 1px solid var(--blue);
    caret-color: var(--blue);
}
.submit{
    min-height: 3em;
    background-color: var(--green);
    border: 1px solid hsl(154, 59%, 45%);
    box-shadow: 0 3px 0 hsl(154, 59%, 45%);
    border-radius: var(--border-rad);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    padding: 1.4em 2em;
    font-size: .7em;
    cursor: pointer;
}
.submit:hover{
    background-color: hsl(154, 59%, 60%);
}
.terms{
    font-size: .5em;
    color: var(--g_blue);
    text-align: center;
    margin: 2em 0;
    padding: 0 2em;
    line-height: 2em;
}
.terms span{
    color: var(--red);
    font-weight: 700;
}
footer{
    margin: 1.5em 0;
    padding: 0 1.5em;
}
.attribution { font-size: 11px; text-align: center; margin: 0;}
.attribution a { color: white; }
@media (min-width: 50em){
    main{
        flex-direction: row;
        min-height: 100vh;
        align-items: center;
    }
    main > * {
        flex-basis: 100%;
    }
    form{
        min-height: 32em;
        max-width: 100%;
        padding: 2.5rem;
        justify-content: space-around;
    }
    input{
        font-size: 1em;
        max-height: 3.1em;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        text-align: start;
    }
    .heading h1{
        margin: 0;
        font-size: 3.5em;
        line-height: 1.1em;
        max-width: 80%;
    }
    .heading p{
        max-width: 80%;
    }
    .submit, .trial{
        font-size: 1em;
    }
    .terms{
        font-size: .7em;
    }
    .form-input::after{
        font-size: .7em;
    }
    .form-input::before{
        top: 1.2em;
        right: 1.2em;
    }
}
